<script context="module">
  import { HN_API_URL, availableRoutes, onePageRoutes } from "../constants.js";

  export async function preload(page, session) {
    const { list } = page.params;

    if (!availableRoutes.includes(list)) {
      this.error(404, "Page not found");
      return;
    }

    const req = await this.fetch(`${HN_API_URL}/${list}?page=1`);

    if (req.status != 200) {
      this.error(req.status, req.statusText);
      return;
    }

    const items = await req.json();

    let pageNumber = 2;
    let loading = false;
    let maxPage = 11;

    if (onePageRoutes.includes(list)) {
      maxPage = 1;
    }

    return { HN_API_URL, list, items, pageNumber, loading, maxPage };
  }
</script>

<script>
  import fetch from "node-fetch";
  import Story from "../components/Story.svelte";

  export let list;
  export let items;
  export let pageNumber;
  export let loading;
  export let maxPage;

  let y;
  let storiesHeight;
  let windowHeight;
  let threshold = 100;

  export function loadMore() {
    if (
      !loading &&
      storiesHeight <= windowHeight + y + threshold &&
      pageNumber < maxPage
    ) {
      loading = true;
      fetch(`${HN_API_URL}/${list}?page=${pageNumber}`)
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Something went wrong");
          }
        })
        .then(newItems => {
          if (newItems.length === 0) {
            maxPage = 1;
          }

          items = items.concat(newItems);
          loading = false;
          pageNumber++;
        });
    }
  }
</script>

<svelte:head>
  <title>whn | {list}</title>
</svelte:head>

<svelte:window
  bind:innerHeight={windowHeight}
  bind:scrollY={y}
  on:scroll={() => {
    loadMore();
  }} />

<div bind:clientHeight={storiesHeight}>
  {#each items as item, i}
    <Story index={i + 1} {item} />
  {/each}
</div>

{#if loading}
  <br />
  <i>Loading more...</i>
{/if}
