<script>
  import { stores } from "@sapper/app";

  import Nav from "../components/Nav.svelte";
  import LoadingIndicator from "../components/LoadingIndicator.svelte";

  const { preloading } = stores();

  export let segment;
</script>

<style>
  div {
    width: 960px;
    margin: auto;
    min-width: 230px;
  }
  @media (max-width: 960px) {
    div {
      width: auto;
    }
  }
</style>

<div>
  <Nav list={segment} />
  <LoadingIndicator visible={$preloading} />
  <main>
    <slot />
  </main>
</div>
