<script>
  import SwitchButton from "../components/SwitchButton.svelte";
  import SelectButton from "../components/SelectButton.svelte";
  import {
    autoShowReplies,
    fontSize,
    extendedMenu,
    greentextQuote,
    darkMode,
    accentColor
  } from "../store/preferences.js";
  import { commentFontSizes } from "../constants.js";

  function toggleAutoShowReplies() {
    let autoShowRepliesTemp = !JSON.parse(
      localStorage.getItem("auto-show-replies")
    );
    autoShowReplies.set(autoShowRepliesTemp);
    localStorage.setItem(
      "auto-show-replies",
      JSON.stringify(autoShowRepliesTemp)
    );
  }

  function toggleExtendedMenu() {
    let extendedMenuTemp = !JSON.parse(localStorage.getItem("extended-menu"));
    extendedMenu.set(extendedMenuTemp);
    localStorage.setItem("extended-menu", JSON.stringify(extendedMenuTemp));
  }

  function changeFontSize(fontSizeEvent) {
    fontSize.set(fontSizeEvent.target.value);
    localStorage.setItem("comment-font-size", fontSizeEvent.target.value);
  }

  function toggleGreentextQuote() {
    let greentextQuoteTemp = !JSON.parse(
      localStorage.getItem("greentext-quote")
    );
    greentextQuote.set(greentextQuoteTemp);
    localStorage.setItem("greentext-quote", JSON.stringify(greentextQuoteTemp));
  }

  function toggleDarkMode() {
    let darkModeTemp = !JSON.parse(localStorage.getItem("dark-mode"));
    darkMode.set(darkModeTemp);
    localStorage.setItem("dark-mode", JSON.stringify(darkModeTemp));
  }

  function changeAccentColor(accentColorEvent) {
    accentColor.set(accentColorEvent.target.value);
    localStorage.setItem("accent-color", accentColorEvent.target.value);
  }

  function resetAccentColor() {
    accentColor.set("#ff6600");
    localStorage.setItem("accent-color", "#ff6600");
    let accentColorInput = document.getElementById("accent-color");
    accentColorInput.value = "#ff6600";
  }
</script>

<style>
  h2 {
    margin-bottom: 5px;
  }
  .spacer {
    height: 10px;
  }

  .little-spacer {
    height: 15px;
  }
</style>

<svelte:head>
  <title>Settings</title>
</svelte:head>

<h1>Settings</h1>

<h2>Comments</h2>
<SwitchButton action={toggleAutoShowReplies} state={$autoShowReplies}>
  Automatically show replies
</SwitchButton>
<br />
<SwitchButton action={toggleGreentextQuote} state={$greentextQuote}>
  Highlight quoting
</SwitchButton>
<div class="little-spacer" />
<SelectButton
  options={commentFontSizes}
  action={changeFontSize}
  selectedOptionValue={$fontSize}>
  Font size
</SelectButton>
<div class="spacer" />

<h2>Theme</h2>
<!-- <SwitchButton action={toggleDarkMode} state={$darkMode}>Dark mode</SwitchButton>
<div class="little-spacer" /> -->
<input
  id="accent-color"
  type="color"
  on:change={changeAccentColor}
  value={$accentColor} />
Accent color
<button on:click={resetAccentColor}>reset</button>
<div class="spacer" />

<h2>Menu</h2>
<SwitchButton action={toggleExtendedMenu} state={$extendedMenu}>
  Extended menu
</SwitchButton>
<div class="spacer" />

<h2>About</h2>
<p>
  Made by
  <a href="https://mathisfaiv.re">Mathis Faivre</a>
  using
  <a href="https://svelte.dev/">Svelte</a>
  and
  <a href="https://sapper.svelte.dev/">Sapper.</a>
</p>

<p>
  The source code can be found
  <a href="https://gitlab.com/mathisfaivre/whn">here.</a>
</p>
