<script>
  import {
    autoShowReplies,
    greentextQuote,
    accentColor,
    darkMode
  } from "../store/preferences.js";
  import { colors } from "../constants.js";
  import { op } from "../store/op.js";
  import { get } from "svelte/store";

  export let showReplies;
  export let fontSize;
  export let comment;
  export let offset;

  if (!comment.kids) {
    comment.kids = [];
  }

  function toggleReplies() {
    showReplies = !showReplies;
  }

  let parser = new DOMParser();

  // Transform HN links to whn links
  comment.content = comment.content.replace(
    /https?\:(&#x2F;|\/){2}news\.ycombinator\.com(&#x2F;|\/)item\?id\=/gim,
    window.location.protocol + "//" + window.location.host + "/items/"
  );

  if (get(greentextQuote)) {
    // Greentext, paragraphes starting with > will be green
    let htmlComment = parser.parseFromString(comment.content, "text/html")
      .documentElement;

    for (let element of htmlComment.getElementsByTagName("p")) {
      element.innerHTML = element.innerHTML.replace(
        /^\s*(&gt;.*)/g,
        '<i style="color: #a4e82c;">$1</i>'
      );
    }

    comment.content = htmlComment.getElementsByTagName("body")[0].innerHTML;
  }
</script>

<style>
  .comment {
    display: flex;
    border-bottom: 1px solid #666666;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    height: auto;
    align-items: stretch;
    overflow: auto;
    width: auto;
  }

  .comment > div {
    width: 100%;
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
  }

  .color-bar {
    border-radius: 3px;
    width: 3px !important;
    min-width: 3px;
    margin-right: 10px;
    margin-left: 5px;
    height: auto;
  }

  .toggle-replies {
    width: 100%;
    text-align: right;
    margin-top: 15px;
  }

  .toggle-replies > div {
    cursor: pointer;
    font-weight: bold;
  }
</style>

{#if !comment.deleted}
  <div
    class="comment"
    style="margin-left: {offset * 10}px; font-size:{fontSize}pt;">
    {#if offset > 0}
      <div
        class="color-bar"
        style="background-color: {colors[(offset - 1) % 7]}">
        &nbsp;
      </div>
    {/if}
    <div>
      <div class="comment-header">
        <i>
          <a
            href="users/{comment.user}"
            style={$op === comment.user ? 'color:' + $accentColor : ''}>
            {comment.user}
          </a>
        </i>
        <i>{comment.time_ago}</i>
      </div>
      <div class="comment-content" style="">
        {@html comment.content}
      </div>
      <div class="toggle-replies">
        {#if comment.comments.length > 0}
          <div on:click={toggleReplies} style={'color:' + $accentColor}>
            {showReplies ? 'Hide ' : 'Show '} {comment.comments.length} repl{comment.comments.length > 1 ? 'ies' : 'y'}
          </div>
        {/if}
      </div>
    </div>

  </div>
  {#if showReplies}
    <div>
      {#each comment.comments as kid}
        <svelte:self
          comment={kid}
          offset={offset + 1}
          showReplies={$autoShowReplies}
          {fontSize} />
      {/each}
    </div>
  {/if}
{/if}
