<script>
  export let currentList = "";
  export let link = "";
  export let svgHtml = "";
  export let name = "";

  import { accentColor, darkMode } from "../store/preferences.js";
</script>

<style>
  .selected {
    text-decoration: underline;
    color: #eeeeee !important;
    fill: #eeeeee;
  }
</style>

<li>
  <a
    rel="prefetch"
    class:selected={currentList === link}
    href={link}
    title={name}
    style={'color:' + $accentColor + '; fill:' + $accentColor}>
    {@html svgHtml}

  </a>
</li>
