<script>
  import TextNavItem from "../components/TextNavItem.svelte";
  import IconNavItem from "../components/IconNavItem.svelte";
  import { extendedMenu } from "../store/preferences.js";
  import { middleRoutes, rightSideRoute } from "../constants.js";

  export let list = "";
</script>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
  }
</style>

<nav>
  <ul>
    <!-- TODO Code duplication -->
    {#if $extendedMenu}
      {#each middleRoutes as route}
        <TextNavItem currentList={list} link={route.link} name={route.name} />
        &nbsp;&nbsp;&nbsp;&nbsp;
      {/each}
    {:else}
      {#each middleRoutes.slice(0, 4) as route}
        <TextNavItem currentList={list} link={route.link} name={route.name} />
        &nbsp;&nbsp;&nbsp;&nbsp;
      {/each}
    {/if}
  </ul>
  <ul>
    {#each rightSideRoute as route}
      <IconNavItem
        currentList={list}
        link={route.link}
        name={route.name}
        svgHtml={route.svgHtml} />
    {/each}
  </ul>
</nav>
