<script>
  export let action;

  // [
  // 	{
  // 		name: 'option1',
  // 		value: '1'
  // 	},
  // 	...
  // ]
  export let options;
  export let selectedOptionValue;
</script>

<select on:change={action}>
  <option value="" />
  {#each options as option}
    <option
      value={option.value}
      selected={selectedOptionValue === option.value}>
      {option.name}
    </option>
  {/each}
</select>
<label>
  <slot />
</label>
