<script>
  export let item = {};
  export let index;

  function transformUrl(url) {
    if (url.substr(0, 8) === "item?id=") return "items/" + url.substr(8);

    return url;
  }

  function getHostname(url) {
    var match = url.match(
      /^(https?\:)\/\/(([^:\/?#]*)(?:\:([0-9]+))?)([\/]{0,1}[^?#]*)(\?[^#]*|)(#.*|)$/
    );

    if (!match) return "";

    let hostname = match[3];

    return hostname.substr(0, 4) === "www." ? hostname.substr(4) : hostname;
  }
</script>

<style>
  .story {
    display: flex;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #222222;
    max-width: 960px;
  }

  .points-comments {
    white-space: nowrap;
    display: block;
    width: 75px;
    min-width: 75px;
  }

  a:visited {
    color: grey !important;
  }

  .story-title {
    display: block;
    width: 100%;
    margin-top: 4px;
  }

  .story-content {
    padding-left: 10px;
    border-left: 1px solid #222222;
  }

  a:visited > div > span,
  a:visited > div > svg {
    color: grey;
    fill: grey;
  }

  svg {
    fill: #dddddd;
  }

  .story-details {
    font-size: 10pt;
    color: grey;
  }

  .story-details > a {
    color: grey;
  }

  .story-url {
    color: grey;
  }

  .icon-points {
    height: 25px;
    width: 25px;
  }

  .icon-comments {
    height: 18px;
    width: 18px;
    padding-left: 5px;
    padding-right: 2px;
  }

  .points-comments > div {
    display: flex;
    align-items: center;
  }

  .points-comments > div > span {
    margin-left: 5px;
  }

  .index {
    margin-top: 9px;
    color: #333333;
    font-size: 14pt;
    width: 40px;
    min-width: 40px;
    text-align: center;
    vertical-align: middle;
  }

  @media (max-width: 500px) {
    .index {
      display: none;
    }

    .points-comments {
      width: 75px;
      min-width: 75px;
    }

    .story-content {
      border: none;
    }
  }
</style>

<div class="story">
  <div class="index">{index}</div>
  <a
    title="{item.comments_count} comment(s), click to view"
    class="points-comments"
    rel="prefetch"
    href="items/{item.id}">
    <div>
      <svg
        class="icon-points"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        fill="white">
        <path
          d="M348.3 216.4c-5 5.1-13.3 5.1-18.4.1L269 155.8v231.3c0 7.1-5.8
          12.9-13 12.9s-13-5.8-13-12.9V155.8l-60.9 60.8c-5.1 5-13.3
          4.9-18.4-.1-5-5.1-5-13.2.1-18.3l83-82.4c1.2-1.1 2.5-2 4.1-2.7 1.6-.7
          3.3-1 5-1 3.4 0 6.6 1.3 9.1 3.7l83 82.4c5.2 4.9 5.3 13.1.3 18.2z" />
      </svg>
      <span>{item.points === null ? 0 : item.points}</span>
    </div>
    <div>
      <svg
        class="icon-comments"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path
          d="M425.9 170.4H204.3c-21 0-38.1 17.1-38.1 38.1v154.3c0 21 17.1 38
          38.1 38h126.8c2.8 0 5.6 1.2 7.6 3.2l63 58.1c3.5 3.4 9.3 2
          9.3-2.9v-50.6c0-6 3.8-7.9 9.8-7.9h1c21 0 42.1-16.9
          42.1-38V208.5c.1-21.1-17-38.1-38-38.1z" />
        <path
          d="M174.4 145.9h177.4V80.6c0-18-14.6-32.6-32.6-32.6H80.6C62.6 48 48
          62.6 48 80.6v165.2c0 18 14.6 32.6 32.6 32.6h61.1v-99.9c.1-18 14.7-32.6
          32.7-32.6z" />
      </svg>
      <span>{item.comments_count}</span>
    </div>
  </a>
  <div class="story-content">
    <a
      class="story-title"
      rel={getHostname(item.url) != '' ? 'external' : 'prefetch'}
      href={transformUrl(item.url)}>
      {item.title}
      {#if getHostname(item.url) != ''}
        <small class="story-url">({getHostname(item.url)})</small>
      {/if}
    </a>

    <div class="story-details">
      by
      {#if item.user}
        <a href="users/{item.user}">{item.user}</a>
      {:else}nobody{/if}
      {item.time_ago},
      <a class="comments-details" rel="prefetch" href="items/{item.id}">
        {item.comments_count} comments
      </a>
    </div>
  </div>
</div>
