<script>
  export let currentList = "";
  export let link = "";
  export let name = "";

  import { accentColor, darkMode } from "../store/preferences.js";
</script>

<style>
  .selected {
    text-decoration: underline;
    color: #eeeeee !important;
  }
</style>

<li>
  <a
    rel="prefetch"
    class:selected={currentList === link}
    href={link}
    style={'color:' + $accentColor}>
    {name}
  </a>
</li>
