<script>
  export let user = {};
</script>

<div>
  <h2>{user.id}</h2>
  <p>Created {user.created}</p>
  <p>{user.karma} karma</p>
  <br />
  {#if user.about}
    <hr />
    <p>
      {@html user.about}
    </p>
  {/if}
</div>
