body {
    font-family: 'Inter', Helvetica, sans-serif !important;
    font-feature-settings: 'liga' 1, 'calt' 1, 'frac' 1, 'case' 1, 'dlig' 1, 'zero' 0, 'cv07' 1;
    margin: 0 10px 10px 10px;
    padding: 0;
    background-color: black;
    color: #c2c2c2;
    font-size: 12pt;
    font-weight: 500;
}

p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

a:link,
a:visited {
    text-decoration: unset;
    font-weight: 800;
}

a:link {
    color: #dbdbdb;
}

a:visited {
    color: grey;
}

a:link:active,
a:visited:active {
    color: #ff9a57;
}

.icon {
    color: #dddddd;
    fill: #dddddd;
}

.icon-nav-item-svg {
    width: 24px;
    margin-top: -4px;
}
