<script context="module">
  import { HN_API_URL } from "../../constants.js";
  import { autoShowReplies, fontSize } from "../../store/preferences.js";

  export async function preload(page, session) {
    const { id } = page.params;
    const req = await this.fetch(`${HN_API_URL}/item/${id}`);

    if (req.status != 200) {
      this.error(
        req.status,
        req.statusText +
          (req.status === 504
            ? ", try https://news.ycombinator.com/item?id=" + id
            : "")
      );
      return;
    }

    const item = await req.json();

    if (item === null) {
      this.error(404, "Not found.");
      return;
    }

    return { item };
  }

  export function getHostname(url) {
    var match = url.match(
      /^(https?\:)\/\/(([^:\/?#]*)(?:\:([0-9]+))?)([\/]{0,1}[^?#]*)(\?[^#]*|)(#.*|)$/
    );

    if (!match) return "";

    let hostname = match[3];

    return hostname.substr(0, 4) === "www." ? hostname.substr(4) : hostname;
  }
</script>

<script>
  import Comment from "../../components/Comment.svelte";
  import { op } from "../../store/op.js";
  import { accentColor, darkMode } from "../../store/preferences.js";

  export let item;
  op.set(item.user);
</script>

<style>
  .header {
    display: flex;
    color: white;
  }

  small {
    color: grey;
  }
</style>

<svelte:head>
  <title>whn | {item.title}</title>
</svelte:head>

<a
  href={getHostname(item.url) != '' ? item.url : 'javascript:void();'}
  class="header">
  <h1>
    {item.title}&nbsp;
    {#if getHostname(item.url) != ''}
      <small class="story-url">({getHostname(item.url)})</small>
    {/if}
  </h1>
</a>

{#if item.content != null}
  <a href="users/{item.user}">{item.user}</a>
  <p style="font-size: {$fontSize}pt;">
    {@html item.content}
  </p>
  <br />
  <hr />
  <hr />
{/if}
{#if process.browser}
  {#each item.comments as comment}
    <Comment
      {comment}
      offset={0}
      showReplies={$autoShowReplies}
      fontSize={$fontSize} />
  {/each}
{/if}
