<script context="module">
  import { HN_API_URL } from "../../constants.js";

  export async function preload(page, session) {
    const { id } = page.params;
    const req = await this.fetch(`${HN_API_URL}/user/${id}`);

    if (req.status != 200) {
      this.error(req.status, req.statusText);
      return;
    }

    const user = await req.json();

    if (user === undefined) {
      this.error(404, "Not found.");
      return;
    }

    return { user };
  }
</script>

<script>
  import User from "../../components/User.svelte";

  export let user;
</script>

<svelte:head>
  <title>whn | {user.id}</title>
</svelte:head>

<User {user} />
